{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="main-heading heading-font my-4 text-center">BIOGRAPHY</h1>
<div class="container">
    <div class="row d-lg-flex justify-content-lg-between">
        <div class="col-12 col-lg-7 ml-lg-0 pl-lg-0">
            <p>Nina has worked in the wedding industry as a wedding singer for 15 years and her career as a singer has been varied and successful in a number of areas.</p>
            <p>Nina is the recommended supplier for Reigate Manor Hotel, the Hickstead Hotel, Selsdon Park Hotel, Hookhouse Farm, Gorse Hill, Hookhouse Farm and the Highley Manor Hotel.</p>
            <p>She has appeared on Top of the Pops, This Morning, Blue Peter, the National Lottery and Children In Need for a variety of artists including Dannii Minogue, Katrina and the Waves and Ronan Keating as well as singing backing vocals at the Eurovision Song Contest for Imaani's 'Where Are You?' which came second!</p>
            <p>Nina's career in music also extends into education and health. She is the
                director of <a href="https://www.wellbeingmusic.co.uk/" target="_blank">Wellbeing Music</a>, and she runs music programs and parties for children as well as choirs and singalongs for senior adults. She is the choir director for the Missing People Choir and Redhill's women's choir Unison</p>
            
            
        </div>
        <div class="col-12 col-lg-5 text-center text-lg-right my-auto" id="bio-pic">
            <img src="{% static 'home/images/nina_church.jpg' %}" height="380" class="mb-3 my-lg-auto"alt="photo of Nina singing at a church wedding"/>
        </div>
        <div class="d-none d-lg-block">
            <p>She has been a cabaret artist touring Europe and the US, signed to a gay music label and performing in venues such as Les Folies Pigalles in Paris and the Hippodrome in London. </p>
            <p>She is also a songwriter and co-wrote number 2 UK hit, "Automatic High" for S Club Juniors as well as writing and singing on numerous dance anthems featured on compilations for Hed Kandi & Ministry of Sound.</p>       
            <p>She was the voice of radio advertising campaigns for Tchibo and Thomas Cook and 
                TV adverts for British Gas and Nissan Micra, as well as a session singer for record companies and publishers such as Universal, WEA and Polydor as well as  DJ Pat Sharp's production company, Sharpsell, recording jingles for Capital, Heart and Galaxy FM.
            </p>
            <p>She coached Girls Aloud and Brazilian duo Sandy and Junior to sing in French. She also coached Polish jazz singer Anna Maria Jopek and Spanish pop idol winner David Bisbal to sing in English.</p>
        </div>
        <div class="d-block d-lg-none px-3">
            <p>She has been a cabaret artist touring Europe and the US, signed to a gay music label and performing in venues such as Les Folies Pigalles in Paris and the Hippodrome in London. </p>
            <p>She is also a songwriter and co-wrote number 2 UK hit, "Automatic High" for S Club Juniors as well as writing and singing on numerous dance anthems featured on compilations for Hed Kandi & Ministry of Sound.</p>       
            <p>She was the voice of radio advertising campaigns for Tchibo and Thomas Cook and 
                TV adverts for British Gas and Nissan Micra, as well as a session singer for record companies and publishers such as Universal, WEA and Polydor as well as  DJ Pat Sharp's production company, Sharpsell, recording jingles for Capital, Heart and Galaxy FM.
            </p>
            <p>She coached Girls Aloud and Brazilian duo Sandy and Junior to sing in French. She also coached Polish jazz singer Anna Maria Jopek and Spanish pop idol winner David Bisbal to sing in English.</p>
        </div>
        
    </div>
    
   
</div>

{% endblock %}