{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <h1 class="heading-font main-heading text-center my-4">CONTACT ME</h1>
    <div class="row d-lg-flex justify-content-between">
        <div class="col-12 col-lg-7 mb-3" id="contact-form">
            <form action="{% url 'contact' %}" method="POST" >
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="my-3 ml-2 btn custom-button">Submit</button>
            </form>
        </div>
        <div class="col-12 col-lg-5">
            <p>Phone: </p> 
            <p>Email: </p>
            <br>
            <div class="d-flex justify-content-between">
                <img src="{% static 'home/images/award1.jpg' %}" width="100" class="m-5">
                <img src="{% static 'home/images/award2.png' %}" width="320" class="m-5"> 
            </div>
        </div>
    </div> 
</div>
   
{% endblock %}s