{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="main-heading heading-font text-center my-3">FAQs</h1>

<h2 class="text-center my-3"><em>…And now for some frequently asked questions!</em></h2>
<div class="container mb-4">
    <h4 class="faq-question">Are you a professional musician?</h4>
    <p class="faq-answer">Yes, professional and full-time!</p>

    <h4 class="faq-question">How do I book you?</h4>
    <p class="faq-answer">Feel free to contact me via the website, call or text me on 07956 256721, email me at <a href="mailto:info@ninaweddingsinger.co.uk">info@ninaweddingsinger.co.uk</a> or message me on <a href="https://www.facebook.com/ninaweddingsinger">Facebook</a>. I offer a free consultation, going over all aspects of the music for your big day. I then send you a contract and I request a 30% deposit. The balance is to be paid a week prior to the booking date.</p>

    
    <div class="row m-0 p-0">
        <div class="col-12 col-lg-6 m-0 p-0">
            <h4 class="faq-question">How far do you travel?</h4>
    <p class="faq-answer">I am based in Surrey but am happy to travel all over Surrey, West Sussex, East Sussex, London, Kent, Essex, Hertfordshire, Buckinghamshire, Berkshire, Hampshire, Oxfordshire and beyond.</p>
            <h4 class="faq-question">How much room do you take up?</h4>
            <p class="faq-answer">My equipment can be very compact and unobtrusive so I can set up pretty much anywhere, which is especially convenient for wedding ceremonies. Lights take up a bit more space but I have an assortment of these and can go big or small depending on where you’d like me to be.</p>
    
            <h4 class="faq-question">How long do you take to set up?</h4>
            <p class="faq-answer">If there is close vehicle access I can have my system up and running in half an hour, and lighting takes another half an hour if I am providing the full works! </p>
            
        </div>    
        <div class="faq-img col-12 col-lg-6 pl-lg-5 my-auto">
            <img src="{% static 'home/images/garden_singing.jpg' %}" alt="nina playing guitar and singing at an outdoors wedding ceremony" width="450" class="ml-lg-3">
        </div>
    </div>
    <h4 class="faq-question">Are you insured?</h4>
            <p class="faq-answer">Yes, I have full public liability insurance, my equipment is all PAT tested and I am a member of the Musicians’ Union. I am also DBS checked as I often work with children.</p>

    <h4 class="faq-question">How long do you play for?</h4>
    <p class="faq-answer">For a ceremony I would normally sing for about 20 minutes as your guests arrive and are seated. I then sing for key songs: 1 for the processional as you walk in, 2 more for the singing of the register and another for the recessional, as you walk out as a married couple.  The songs are ideally ones that you have chosen to make your ceremony unique to you and your partner.  Feel free to look at my set lists for ideas!
        </p>
    <p class="faq-answer">For a wedding breakfast, drinks reception or post wedding breakfast/pre evening reception set, I would normally play for up to an hour and a half.
    This would involve accompanying myself on acoustic guitar and backing tracks doing a selection of feel good ‘live lounge’ style and jazzy well known songs, perfect to create an uplifting wedding ambiance.  </p>
    <p class="faq-answer">I provide a ceremony and an hour drinks reception package, a very popular choice to see you through to the wedding breakfast.</p>
    <p class="faq-answer">For an evening party I usually provide 3 sets of 40 minutes of live music with a full disco in my breaks, taking requests throughout the evening. I can make announcements to help the evening run smoothly i.e cutting the cake, the serving of the buffet and of course the all important first (and last!) dances.  I can also provide background music if required for earlier in the evening and a radio microphone for speeches.</p>

    <h4 class="faq-question">Do you take requests?</h4>
    <p class="faq-answer">I can usually perform songs I haven’t sung before with two weeks’ notice.  These include the first dance which I’d be very happy to do for you, as well as any songs for the ceremony. I may not be able to sing requests given to me on the day itself, but would be able to play the original version during the disco or a break. </p>

    <h4 class="faq-question">Do I need to provide anything?</h4>
    <p class="faq-answer">Not really, just a power socket or two!  For bookings of 4 hours or more, I would request a snack and soft drink.  On arrival at your venue, I can usually discreetly find my location and set up, liaising with the venue staff if necessary.</p>

    <h4 class="faq-question">Do you offer any other services?</h4>
    <p class="faq-answer">For your wedding ceremony I can provide a keepsake recording of the ceremony.  This is the next best thing to a video and is a fraction of the price.  It’s an mp3 supplied on a USB stick which you’ll receive in the post within a month of the ceremony, contains a recording of the entire ceremony which has been digitally treated to reduce any loud coughs or baby cries for the perfect memento of the most special hour of your life!</p>
    <p class="faq-answer">For the evening party I can provide a 90’s ‘rave’ set with glowsticks, UV facepaint and neon lights, a lot of fun for your guests, dancing to some old skool 90’s dance and garage anthems.  I do the facepaint for your guests in my break. Obviously if you prefer the 80’s or 70’s, I can do a set from those decades instead!</p>

    <div class="row m-0 p-0">
        <div class="col-12 col-lg-4 my-auto">
            <img src="{% static 'home/images/nina_gear.jpg' %}" alt="musical set for a wedding venue" width="360"/>
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="faq-question ml-lg-3">Can I come and see you play live?</h4>
            <p class="faq-answer ml-lg-3">Most of my work consists of private weddings and parties but I do occasionally sing in venues local to me in Reigate.  You’d be very welcome to come along and see me in action!</p>

            <h4 class="faq-question ml-lg-3">Do you have a replacement?</h4>
            <p class="faq-answer ml-lg-3">I have only been poorly once in the last 15 years (a Burns night featuring a lethal dose of the Noro virus, but I still managed to get through the singing!). I haven’t needed to cancel a booking in that time but if it were ever necessary to do so, I have friends who are singers and others who run entertainment agencies and who would be able to find an alternative musician/DJ of the highest standard on their books. Any deposit would of course be refunded immediately.</p>
        </div>
    </div>

    <h4 class="faq-question">What other singing experience do you have?</h4>
    <p class="faq-answer">I have been singing for the best part of 15 years. I have worked with Ronan Keating, Girls Aloud and Dannii Minogue, I have recorded songs for many artists as a songwriters’ demo singer, as well as lots of adverts and jingles.  I started live work as a cabaret singer in various nightclubs in London and have done countless weddings in some wonderful venues in the South East.  I am also a songwriter and wrote S Club Juniors’ hit “Automatic High” which got to number two a few moons ago!  My songs and singing have featured on various Ministry of Sound and Hed Kandi compilations. Nowadays, alongside my wedding work, I run music classes for children and choirs for adults during the week and I also sing at birthday, anniversary, community and corporate parties and events.</p>
    <p class="faq-answer">I have performed at product launches, cabaret nights, many weddings and parties, the occasional funeral.  Here is a list of venues: Elstree Studios, GMTV and This Morning studio South Bank, BBC Broadcasting House White City, NEC Birmingham, Moulin Rouge Paris, Hippodrome Leicester Square, the Bowery Nightclub New York, The White Room New Orleans, The Astoria (GAY), Revenge Brighton, Bois de Boulogne main stage at Paris Pride. Wedding venues including Hylands House, Great Fosters Egham, Royal Holloway University, Cambridge University St John's, Horsley Towers, Wotton House, Hartsfield Manor, Stanhill Court Hotel, Reigate Manor Hotel, Brooklands Museum, Hedingham Castle, Gosford Hall, Reid Rooms, Penny Hill Park, Painshill Park, Loseley Park, Knebworth House, Waltham Abbey, Ravens Ait Island, Selsdon Park Hotel, Addington Palace,Warren House, Nutfield Priory, Gorse Hill and many , many more...</p>

    
    
 
</div>

{% endblock %}