{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="main-heading heading-font text-center my-3">FAQs</h1>

<h2 class="text-center my-3"><em>…And now for some frequently asked questions!</em></h2>
<div class="container mb-4">
    <h4 class="faq-question">Are you a professional musician?</h4>
<p class="faq-answer">Yes, professional and full-time!</p>

<h4 class="faq-question">How do I book you?</h4>
<p class="faq-answer">Feel free to contact me via the website, call or text me on 07956 256721, email me at <a href="mailto:info@ninaweddingsinger.co.uk">info@ninaweddingsinger.co.uk</a> or message me on Facebook messenger via the link in the footer below. I offer a free consultation, going over all aspects of the music for your big day. I then send you a contract and I request a 30% deposit. The balance is to be paid a week prior to the booking date.</p>

<h4 class="faq-question">How long do you play for?</h4>
<p class="faq-answer">For a ceremony I would normally sing for about 20 minutes as your guests arrive and are seated. I then sing for key songs: 1 for the processional as you walk in, 2 more for the singing of the register and another for the recessional, as you walk out as a married couple.  The songs are ideally ones that you have chosen to make your ceremony unique to you and your partner.  Feel free to look at my set lists for ideas!
    </p>
<p class="faq-answer">For a wedding breakfast, drinks reception or post wedding breakfast/pre evening reception set,  I would normally play for up to an hour and a half.
This would involve accompanying myself on acoustic guitar and backing tracks doing a selection of feel good ‘live lounge’ style and jazzy well known songs, perfect to create an uplifting wedding ambiance.  </p>
<p class="faq-answer">I provide a ceremony and an hour drinks reception package, a very popular choice to see you through to the wedding breakfast.</p>
<p class="faq-answer">For an evening party I usually provide 3 sets of 40 minutes of live music with a full disco in my breaks, taking requests throughout the evening. I can make announcements to help the evening run smoothly i.e cutting the cake, the serving of the buffet and of course the all important first (and last!) dances.  I can also provide background music if required for earlier in the evening and a radio microphone for speeches.</p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

<h2 class="faq-question"></h2>
<p class="faq-answer"></p>

</div>


<hr>

<h1 class="main-heading heading-font my-3 text-center">BIOGRAPHY</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <p>Nina has worked in the wedding industry as a wedding singer for 15 years and her career as a singer has been varied and successful in a number of areas.</p>
            <p>Nina is the recommended supplier for Reigate Manor Hotel, the Hickstead Hotel, Selsdon Park Hotel, Hookhouse Farm, Gorse Hill, Hookhouse Farm and the Highley Manor Hotel.</p>
            <p>She has appeared on Top of the Pops, This Morning, Blue Peter, the National Lottery and Children In Need for a variety of artists including Dannii Minogue, Katrina and the Waves and Ronan Keating as well as singing backing vocals at the Eurovision Song Contest for Imaani's Where Are You? which came second!</p>
            <p>Nina's career in music also extends into education and health. She is the
                director of <a href="https://www.wellbeingmusic.co.uk/" target="_blank">Wellbeing Music</a>, and she runs music programs and parties for children as well as choirs and singalongs for senior adults. She is the choir director for the Missing People Choir and Redhill's women's choir Unison</p>
            <p>She has been a cabaret artist touring Europe and the US, signed to a gay music label and performing in venues such as Les Folies Pigalles in Paris and the Hippodrome in London. </p>
            </div>
        <div class="col-12 col-lg-4 pr-lg-3" id="bio-pic">
            <img src="{% static 'home/images/nina_bio.jpg' %}" height="350" alt="black and white photo of Nina smiling"/>
        </div>
        <p>She is also a songwriter and co-wrote number 2 UK hit, "Automatic High" for S Club Juniors as well as writing and singing on numerous dance anthems featured on compilations for Hed Kandi & Ministry of Sound.</p>
        <p>She was the voice of radio advertising campaigns for Tchibo and Thomas Cook and 
            TV adverts for British Gas and Nissan Micra, as well as a session singer for record companies and publishers such as Universal, WEA and Polydor as well as  DJ Pat Sharp's production company, Sharpsell, recording jingles for Capital, Heart and Galaxy FM.
        </p>
        <p>She coached Girls Aloud and Brazilian duo Sandy and Junior to sing in French. She also coached Polish jazz singer Anna Maria Jopek and Spanish pop idol winner David Bisbal to sing in English.</p>
    </div>
    
   
</div>

{% endblock %}