{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 w-100">
            <img src="{% static 'home/images/home_page_main.jpg' %}" alt="black and white photo of nina singing and playing guitar" id="home-page-hero-img">
            <div id="main-header-container">
                <h1 class="main-heading d-none d-lg-block">NINA WEDDING SINGER</h1>
                <h2 class="d-none d-lg-block">Tag line would go here....</h2>
            </div>
         </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="lead">Hi, I’m Nina and I love music and weddings! Having a job where I get to bring two of my favourite things together is a joy and I would be delighted to help make your special day a time you’ll never forget, for all the right reasons!</p>
            <p class="lead">Nina presents the perfect entertainment for your wedding or function - whether you'd like a filled dancefloor for your evening party, a moving and memorable ceremony or a toe tapping drinks reception, her fantastic vocals, years of experience and friendly professionalism will keep your guests dancing the night away... …or wiping a tear away in the aisle!</p>
            
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-12 col-lg-6" id="home2-img">
            <img src="{% static 'home/images/outdoors.jpeg' %}" alt="photo of Nina smiling outdours" id="home-page-img2">
        </div>
        <div class="col-12 col-lg-6">
            <p>Nina is a successful session singer who has worked for Dannii Minogue, Ronan Keating and Girls Aloud among others. Her sound system and lighting are second to none, she has a fantastic voice and extensive repertoire and for a fraction of the price of a band and DJ, you can rest assured that your live music is in safe hands.</p>
            <p>Nina covers the whole of the south and south east area; Surrey, Kent, East and West Sussex, Hampshire, Berkshire, Bucks and beyond.  She has recently won a Wedding Industry Award for music and is the recommended supplier to several wonderful venues. Her equipment is PAT tested, she has public liability insurance and is a Musicians' Union member.</p>
            <h4 class="small-quote p-4"><em>“You sang our songs with such meaning, you brought life to them.  You helped make our day even more special.”</em></h4>
        </div>
    </div>
</div>  
{% endblock %}