{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="display-4">NINA WEDDING SINGER</h1> 
<div class="container-fluid">
    <div class="row">
        <div class="col-12 w-100">
            <img src="{% static 'home/images/home_page_main.jpg' %}" alt="black and white photo of nina singing and playing guitar">
 
        </div>
    </div>
</div>
<div class="container my-auto">
    <div class="row">
        <div class="col">
            <p>Nina presents the perfect entertainment for your wedding or function.  If you'd like a singer for your evening party, ceremony or drinks reception, her fantastic vocals, years of experience and friendly professionalism will reassure and delight you and keep your guests dancing the night away... …or wiping a tear away in the aisle!

                Nina is a successful session singer who has worked for Dannii Minogue, Ronan Keating and Girls Aloud among others. Her sound system and lighting are second to none, her music is almost indistinguishable from the original songs and for a fraction of the price of a band and DJ, you can rest assured that your live music is in safe hands.
                
                Nina covers the whole of the south and south east area; Surrey, Kent, East and West Sussex, Hampshire, Berkshire, Bucks and beyond.  She has recently won a Wedding Industry Award for music. Her equipment is PAT tested, she has publc liability insurance and is a Musicians' Union member.</p>
        </div>
    </div>
</div>
   
{% endblock %}