{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="text-center main-heading heading-font my-4">TESTIMONIALS</h1>

<div class="container text-center">
    <img src="{% static 'home/images/wedding_group.JPG' %}" alt="a group of people enjoying a wedding" height="450" class="d-none d-lg-block"/>
</div>
<div class="container text-center">
    <img src="{% static 'home/images/wedding_group_cropped.JPG' %}" alt="a group of people enjoying a wedding" height="450" class="d-none d-md-block d-lg-none mx-auto"/>
</div>
<div class="container text-center">
    <img src="{% static 'home/images/wedding_group_slim.JPG' %}" alt="a group of people enjoying a wedding" height="450" class="d-block d-md-none mx-auto"/>
</div>
<div class="container quote-container my-4">
    <blockquote class="blockquote mb-3">
        <p class="mb-0">Nina was wonderful and so lovely. During Covid our dates changed four times and each time she was accommodating, professional and caring/ humorous. On the actual day Nina sung for the ceremony which was done beautifully. For the evening everyone at the wedding remarked how fabulous she was. We were so pleased to have had her there and so really did make the day feel special - thank you Nina x</p>
        <footer class="blockquote-footer">Tracy and Chris <cite>Reigate Hill Golf Club, Dec ’21</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">
        <div class="col-12 col-lg-3 text-center p-2">
            <img src="{% static 'home/images/testimonial17.jpg' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-4 p-2 text-center">
            <img src="{% static 'home/images/testimonial18.jpg' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-5 p-2 text-center">
            <img src="{% static 'home/images/testimonial20.jpg' %}" alt="testimonial" class="letter">
        </div>
    </div>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">Nina, from the first meeting in 2019 to her incredible performance at our wedding in Sept 21 was nothing but a delight and true professional. She was very supportive and communicated well during the uncertainty that covid caused, and ensured she remained as flexible as possible to meet our needs. Nina has a stunning voice, and whilst she has a huge repertoire, she even was happy to learn new songs and adapt the set to suit us. I cannot recommend Nina highly enough, you will not be disappointed. We loved having her as part of our day, and so did our guests! Thank you Nina for helping make our day so special!</p>
        <footer class="blockquote-footer">Matt and Christian <cite>Hartsfield Manor, Surrey, Sep ’21</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">
        <div class="col-12 col-lg-6 p-2 text-center">
            <img src="{% static 'home/images/testimonial2.webp' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-6 p-2 text-center">
            <img src="{% static 'home/images/dirty_dancing.jpeg' %}" alt="photo of wedding guests copying a dirty dancing move" height="380">
        </div>
    </div>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">Nina sang at our wedding back in 2013, and as it was my Husband’s 60th last year, I asked her to entertain us at our garden party last August. She was amazing from start to finish. Everyone absolutely loved her, and I can’t wait to book her again when I get the opportunity. Thank you so much Nina, you made a good day great! Xx</p>
        <footer class="blockquote-footer">Kathy <cite>At home, Aug '21</cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">Very professional, flexible and good fun. From acoustic to loud, Coldplay to Kings of Leon, and Adele to Abba. Thank you Nina.</p>
        <footer class="blockquote-footer">Steve and Claire <cite>Langshott Manor, Surrey, Aug ‘21</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">
        <div class="col-12 col-lg-5 text-center p-2">
            <img src="{% static 'home/images/testimonial3.webp' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-4 p-2 text-center">
            <img src="{% static 'home/images/testimonial4.webp' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-3 p-2 text-center">
            <img src="{% static 'home/images/testimonial5.webp' %}" alt="testimonial" class="letter">
        </div>
    </div>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">We booked Nina for a wedding anniversary party and she was so good we are planning another party just to be able to book her again! All our guests loved it and she really made the day special.</p>
        <footer class="blockquote-footer">Kerrie <cite>At home, July '21</cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">Wow, thank you so much for making Ryan and Hannah's wedding such a special day, from booking to performance Nina was very professional, such a beautiful voice, thank you.</p>
        <footer class="blockquote-footer">Paul, father of the bride <cite>At home '21</cite></footer>
    </blockquote>
</div>

<div class="container">
    <div class="letter-row row mb-3">
        <div class="col-12 col-lg-4 text-center pb-5">
            <img src="{% static 'home/images/testimonial9.webp' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-4 pt-4 text-center">
            <img src="{% static 'home/images/first_dance.png' %}" alt="image of a couple dancing" height="350">
        </div>
        <div class="col-12 col-lg-4 p-2 text-center">
            <img src="{% static 'home/images/testimonial10.webp' %}" alt="testimonial" class="letter">
        </div>
    </div>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">Nina is phenomenal! We have been lucky enough to have her sing at both my wife's 40th birthday party and mine and she was amazing. So easy going, so talented and such a brilliant singer. We are just looking for a reason to have her sing again. Whatever the occasion, whatever the range of songs you need, you will not be disappointed! I couldn't recommend highly enough!</p>
        <footer class="blockquote-footer">Richard <cite>At home, summer '19</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">       
        <div class="col-12 col-lg-5 p-2 text-center">
            <img src="{% static 'home/images/testimonial20.jpg' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-7 p-2 text-center">
            <img src="{% static 'home/images/testimonial21.jpg' %}" alt="testimonial" class="letter">
        </div>
    </div>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">A beautiful young talented lady.
            Nina was a true professional, her emails and communication before the wedding date was on point and always on time. Her voice is incredible as is her way with people, I was very relaxed knowing Nina was on stage entertaining my family all evening. I would recommend the 90s set as the face painting and the glow sticks went down a storm I did not leave the dance floor. I cannot recommend Nina enough, everyone was very impressed and have already had family members asking for details for future events. I would like to thank Nina for being part of my special day and helping me to enjoy an all singing all dancing evening.
            </p>
        <footer class="blockquote-footer">Carl and Steve <cite>Brooklands Hotel, Weybridge, Sept ‘18</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">       
        <div class="col-12 col-lg-6 p-2 text-center">
            <img src="{% static 'home/images/testimonial15.jpg' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-6 p-2 text-center">
            <img src="{% static 'home/images/testimonial16.jpg' %}" alt="testimonial" class="letter">
        </div>
    </div>
</div>

<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">Nina absolutely made my 40th birthday party. She had everyone dancing and even stayed late as we didn’t want the party to end. Nina is a great judge of what to play and when to fit the mood of the party. Her voice is beautiful too so people want her to keep singing. Great, great singer and lovely company too.</p>
        <footer class="blockquote-footer">Ellie <cite>At home, July '21</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">
        <div class="col-12 col-lg-9 text-center p-2">
            <img src="{% static 'home/images/testimonial14.jpg' %}" alt="testimonial" class="letter">
        </div>        
        <div class="col-12 col-lg-3 p-2 text-center">
            <img src="{% static 'home/images/testimonial1.webp' %}" alt="testimonial" class="letter">
        </div>
    </div>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">We wanted to thank you very much for all the songs you sang so beautifully on our wedding day :). You were a huge hit with our guests. The CD that you made us is just so specIal! I have listened to it so many times already. Thank you again</p>
        <footer class="blockquote-footer">Chloe and Ronnie <cite>Ravens Ait Island, London, Aug ‘18</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">
        <div class="col-12 col-lg-6 text-center p-2">
            <img src="{% static 'home/images/testimonial13.jpg' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-6 p-2 text-center">
            <img src="{% static 'home/images/testimonial12.jpg' %}" alt="testimonial" class="letter">
        </div>        
    </div>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0">I booked Nina for my daughter's 1st birthday in September. We had a big family party for over 100 people and she was the perfect artist to provide entertainment for the adults and the children. She was wonderful to work with,.....incredible with the children and a fantastic performer with a beautiful voice! I would recommend her to anyone and can't wait to use her again! Thank you Nina for making our little girl’s birthday so memorable! </p>
        <footer class="blockquote-footer">Julia <cite>At home, Set '19</cite></footer>
    </blockquote>
</div>
<div class="container">
    <div class="letter-row row mb-4">
        <div class="col-12 col-lg-4 text-center p-2">
            <img src="{% static 'home/images/testimonial6.webp' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-4 p-2 text-center">
            <img src="{% static 'home/images/testimonial7.webp' %}" alt="testimonial" class="letter">
        </div>
        <div class="col-12 col-lg-4 p-2 text-center">
            <img src="{% static 'home/images/testimonial8.webp' %}" alt="testimonial" class="letter">
        </div>
    </div>
</div>

<!-- <div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div>
<div class="container quote-container">
    <blockquote class="blockquote">
        <p class="mb-0"></p>
        <footer class="blockquote-footer"> <cite></cite></footer>
    </blockquote>
</div> -->
{% endblock %}