html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(76, 73, 79);
    color: rgb(220, 198, 125) !important;
    height: 6rem;    
}

.navbar h2,
.navbar-toggler-icon,
.navbar-toggler {
    color: rgb(220, 198, 125) !important;
}

.navbar h2 {
    font-size: 2rem;
}

.nav-link {
    color: rgb(220, 198, 125) !important;
}

.nav-link:active,
.nav-link:hover {
    color: rgb(220, 198, 125);
    font-weight: 700;
}

footer {
    background-color: rgb(76, 73, 79);
    color: rgb(220, 198, 125) !important;
    height: 6rem; 
}

footer li {
    display: inline-block;
    list-style: none;
}

footer i {
    color: rgb(220, 198, 125);
    font-size: 2rem;
}


#home-page-hero-img {
    width: 100vw;
}

.service-img {
    padding: 1rem;
}

.service-img img {
    height: 300px;
}

#ceremony-pic {
    height: 450px;
}

#disco-pic {
    height: 200px;
}

.service-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-even {
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: rgba(220, 218, 221, 0.8);
}



/* media queries */
@media screen and (max-width: 767px) {
    .navbar {
        height: auto;
    }
}