html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(76, 73, 79);
    color: rgb(220, 198, 125) !important;
    height: 6rem;    
}

/* .navbar h2,
.nav-link,
.navbar-toggler-icon,
.navbar-toggler {
    color: rgb(220, 198, 125) !important;
} */

.nav-link:active,
.nav-link:hover {
    color: rgb(220, 198, 125);
    font-weight: 700;
}


#home-page-hero-img {
    width: 100vw;
}


/* media queries */
@media screen and (max-width: 767px) {
    .navbar {
        height: auto;
    }
}