html {
    height: 100%;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.logo-font {
    font-family: 'Varela Round', sans-serif;
}

.navbar {
    background-color:  rgb(73, 73, 100);
    color: rgb(220, 198, 125) !important;
    height: 6rem;    
}

.navbar-dark {
    background-color:  rgb(73, 73, 100) !important;
    color: rgb(220, 198, 125) !important;
}

.navbar h2,
.navbar-toggler-icon,
.navbar-toggler {
    color: rgb(220, 198, 125) !important;
}

.navbar h2 {
    font-size: 2rem;
}

.nav-link {
    
    color: rgb(220, 198, 125) !important;
}

.nav-link:active,
.nav-link:hover {
    color: rgb(220, 198, 125);
    font-weight: 700;
}

.heading-font {
    color: rgb(76, 73, 79);
}

.main-heading {
    font-size: 3rem;
}

.main-footer {
    background-color: rgb(73, 73, 100);
    color: rgb(220, 198, 125) !important;
    height: 6rem; 
}

.main-footer li {
    display: inline-block;
    list-style: none;
}

.main-footer i {
    color: rgb(220, 198, 125);
    font-size: 2rem;
    padding-top: 20px;
}


#home-page-hero-img,
#home-page-hero-img-mobile,
#home-page-hero-img-cropped {
    width: 100vw;
}

#main-header-container {
    background-color:  rgb(73, 73, 100);
    color: rgb(220, 198, 125) !important;
    opacity: 0.93;  
    position: relative;
    top: -12rem;
    float:left;
    margin-left: 2rem;
    margin-bottom: -8rem;
    padding: 1rem;
    z-index: 99;
    box-shadow: 5px 10px #888888;
}

#main-header-container h4 {
    color: rgb(222, 214, 188)
}


#home-page-img2 {
    height: 400px;
    margin: auto;
}

#home-page-img2-cropped {
    width: 85vw;
    margin: auto;
}

#reception-pic {
    height: 430px;
}

#ceremony-pic {
    height: 360px;
}

#party-pic {
    height: 370px;
}

.service-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-container,
.packages-container {
    margin: 0px !important;
    background-color: rgba(220, 218, 221, 0.8);
}

#contact-form {
    border: 1px solid  rgb(76, 73, 79);
    border-radius: 1px;
    background-color: rgba(220, 218, 221, 0.8);
}

.custom-button:active,
.custom-button:hover{
    background-color: rgb(109, 105, 114);
    color: white;
}

.custom-button {
    background-color: rgb(73, 73, 100);
    color: rgb(220, 198, 125);
}

.letter {
    height: 400px;
}

.card-header {
    background-color: rgb(23, 23, 59) !important;
}

.card-header .btn-link {
    color: rgb(220, 198, 125) !important;
    font-weight: bold !important;
    text-decoration: none !important;
}


/* media queries */
@media screen and (max-width: 992px) {
    .navbar {
        height: auto;
    }

}


@media screen and (max-width: 767px) {    
    .main-footer {
        height: auto; 
    }

    .letter {
        max-width: 600px !important;
        height: auto !important;
    }

    .navbar h2 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px) {
    .letter {
        width: 320px !important;
        height: auto !important;
    }

    .navbar h2 {
        font-size: 1.5rem;
    }

    #bio-pic img {
        height: 280px !important;
    }
}

