{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Wedding Singer Reigate">
    <meta name="keywords" content="singer, wedding, guitarist, award winning, recommended, dj, surrey, acoustic, vocalist, kent, west east sussex, book, ceremony, reception, live music, evening reception">
    <meta name="author" content="Helen Taylor">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <!-- favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    {% block extra_css %}
    {% endblock %}
    <title>Nina Wedding Singer {% block title %}{% endblock %}</title>
  </head>
  <body> 
    <nav class="navbar navbar-expand-lg navbar-dark">
      <h2 class="navbar-brand logo-font"><strong>NINA</strong> WEDDING SINGER</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-5" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'services' %}">Packages</a>
          </li>        
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'services' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Packages
            </a> -->
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% anchor 'services' 'receptions' %}">Receptions</a>
              <a class="dropdown-item" href="{% anchor 'services' 'ceremonies' %}">Ceremonies</a>
              <a class="dropdown-item" href="{% anchor 'services' 'hen' %}">Hen Parties</a>
              <a class="dropdown-item" href="{% anchor 'services' 'song' %}">Your Song</a>
              <a class="dropdown-item" href="{% anchor 'services' 'audio' %}">Audio Recordings</a>
              <a class="dropdown-item" href="{% anchor 'services' 'kids' %}">Kids' Entertainment</a>
              <a class="dropdown-item" href="{% anchor 'services' 'djing' %}">DJing</a>
            </div> -->
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'repertoire' %}">Song List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'faqs' %}">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bio' %}">Bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </nav>  
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}
    {% block page_header %}
    {% endblock %}
    {% block content %}    
    {% endblock %}
    <footer class="container-fluid main-footer"> 
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start">
          <h5 class="font-weight-light p-md-3 p-2">info@ninaweddingsinger.co.uk</h5>
        </div>
        <div class="col-12 col-md-8 d-flex justify-content-center justify-content-md-end align-items-center">
          <ul class="social">
            <li><a href ="https://www.facebook.com/ninaweddingsinger" target="_blank" rel="noopener" aria-label="visit my facebook page (opens in a new tab)"><i class="fab fa-facebook-square px-md-4 px-3 my-auto"></i></a></li>
            <li><a href ="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="visit my instagram account (opens in a new tab)"><i class="fab fa-instagram px-md-4 px-3 my-auto"></i></a></li>
            <li><a href ="https://www.youtube.com/channel/UC1u6g8KelkbbilgKKAsBR0A" target="_blank" rel="noopener" aria-label="visit me on youtube (opens in a new tab)"><i class="fab fa-youtube px-md-4 px-3 my-auto"></i></a></li>
            <li><a href ="https://soundcloud.com/nina-singer" target="_blank" rel="noopener" aria-label="visit me on soundcloud (opens in a new tab)"><i class="fab fa-soundcloud px-md-4 px-3 my-auto"></i></a></li>
          </ul>  
        </div>
      </div> 
    </footer>    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5f4fa16565.js" crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>